* {
  box-sizing: border-box;
}

body {
  font-family: var(--theme-font-family);
  background-color: var(--theme-background);
  color: var(--theme-text);
  padding: 2em 1em;
  max-width: 800px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.6;
}

section {
  margin-bottom: 3em;
}

h1 {
  font-size: 2rem;
  margin-bottom: 3rem;
}
h2 {
  font-size: 1.75rem;
  margin-bottom: 2.625rem;
}
h3 {
  font-size: 1.5rem;
  margin-bottom: 2.25rem;
}
h4 {
  font-size: 1.25rem;
  margin-bottom: 1.874rem;
}
h5 {
  font-size: 1.125rem;
  margin-bottom: 1.6875rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

small {
  font-size: 0.875em;
}

a {
  text-decoration: none;
  color: var(--theme-hyperlink);
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
  border: 1px var(--theme-table-border) solid;
}
table {
  border-collapse: collapse;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: 0;
  text-align: left;
}
table thead tr {
  border-bottom: 1px var(--theme-table-border) solid;
}
table tbody tr:not(:last-child) {
  border-bottom: 1px var(--theme-table-border) solid;
}
table th,
table td {
  padding: 8px;
}
table th {
  font-weight: bold;
}

.chapters-list {
  padding-inline-start: 0px;
}

.chapters-list ol {
  margin: 0;
  padding: 0;
  border-left: 1px gray solid;
  padding-inline-start: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  list-style-type: decimal;
  list-style-position: inside;
  line-height: 1.5;
}
.chapters-list > li {
  list-style-type: none;
}
.chapters-list li {
  margin-left: 12px;
}
.chapters-list > li {
  margin-left: 0px;
}

hr {
  /* display: none; */
  border-color: transparent;
}

/* old */

blockquote {
  border-color: #dcdcdc;
}

/* .language-sql .hljs-number {
  color: green;
} */

img {
  max-width: 100%;
  height: auto;
  border-style: none;
}

code {
  background-color: var(--theme-inline-code);
  word-wrap: break-word;
  border-radius: 3px;
  padding: 0.1em 0.2em;
  font-size: 85%;
}

pre > code {
  line-height: 1.5;
}

pre code.hljs {
  font-size: 17px;
  padding: 0.5em 1em;
  border: 1px #e2e2e2 solid;
}

/* span.hljs-comment {
  color: #959595;
} */

/* td.font-size-16 {
  font-size: 16px !important;
} */

/* ol li {
  list-style: decimal !important;
} */

/* audio bar */
#audio-bar {
  display: none;
}
#audio-bar.is-active {
  display: unset;
  width: 100%;
  background: #e2e2e2;
  padding: 8px;
  position: fixed;
  bottom: 0px;
  left: 0px;
}
#audio-bar.is-active audio {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

/* print */
@media print {
  @page {
    size: A4;
    margin: 11mm 17mm 17mm 17mm;
  }
  html,
  body {
    width: 210mm;
    height: 297mm;
    margin: 8px;
    padding: unset;
  }
  body {
    /* https://stackoverflow.com/q/14987496 */
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  h2,
  h3,
  h4 {
    page-break-after: avoid;
  }
  pre,
  blockquote {
    page-break-inside: avoid;
  }
  hr {
    page-break-after: always;
  }
  .pdf-footer {
    font-size: 18px;
  }
  .no-print,
  .no-print * {
    display: none !important;
  }
}
